$primaryGreen: rgb(0, 240, 130);
$primaryPurple: rgb(190, 0, 120);
$primaryGrey: rgb(100, 100, 100);

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

.custom-router-link {
  color: black;

  &:hover {
    color: black;
    text-decoration: none;
  }
}
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-overflow-ellipsis-1 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.text-overflow-ellipsis-2 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.text-overflow-ellipsis-3 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.transition-slide-down {
  &-enter {
    transform: translateY(-100px);
    opacity: 0;
  }
  &-leave-to {
    transform: translateY(100px);
    opacity: 0;
  }
  &-enter-active {
    transition: all 0.3s ease-in-out;
  }
  &-leave-active {
    transition: all 0.3s ease-in-out;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.6);
  & .modal-content {
    text-align: center;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.3);
    border: 0;
    border-radius: 0;
    background: $primaryGreen;
    color: $primaryGrey;
    font-size: 25px;
    font-weight: 100;
  }
  & .modal-header {
    display: flex;
    justify-content: center;
    text-align: center;
    background: $primaryGrey;
    color: $primaryGreen;
    border-radius: 0;
    border: 0;
    font-size: 35px;
    font-weight: 800;
    letter-spacing: 5px;
  }
  & .modal-footer {
    @include flex-center;
    padding: 10px 6px;
    border-radius: 0;
    border-color: $primaryGrey;
    background: $primaryGreen;
  }
}

.transition-fade {
  &-enter {
    opacity: 0;
  }
  &-leave-to {
    opacity: 0;
  }
  &-enter-active {
    transition: all 0.2s ease-in-out;
  }
  &-leave-active {
    transition: all 0.2s ease-in-out;
  }
}

.button {
  @include flex-center;
  position: relative;
  width: 150px;
  height: 50px;
  border: 2px solid $primaryGrey;
  font-size: 20px;
  text-transform: uppercase;
  color: $primaryGrey;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  letter-spacing: 5px;
  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 50%;
    opacity: 0;
    background: rgba(white, 0.3);
    transition: all 0.2s ease-in-out;
    z-index: 1;
  }
  &:hover {
    &::after {
      width: 100%;
      left: 0;
      opacity: 1;
    }
  }
  &:active {
    &::after {
      background: rgba(white, 0.6);
    }
  }
  & p {
    z-index: 2;
    user-select: none;
  }
}
